.start_screen{
    background: radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;;
}

.container{
    display: flex;
    padding-top: 180px;
    position: relative;

}

.start_screen-h1{
    
    font-size: 44px;
    line-height: 130%;
    max-width: 314px;
    color: #FFF;
    margin-bottom: 42px;

}

.start_screen-p{
    font-family: 'Arial'; 
    font-size: 15px;
    line-height: 160%;
    max-width: 460px;
    color: #FFF;
    margin-bottom: 42px;
}

.start_screen-button{
    background: #F1CDB3;
    border: none;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 45px;
    gap: 10px;
    width: 207px;
    height: 52px;


    
    font-size: 17px;
    line-height: 130%;
}

.start_screen-text{
    display: flex;
    flex-direction: column;
    padding-left: 40px;
    padding-top: 163px;  
}


.start_screen-picture img{
    width: 698px;
    height: 728px;
}