{
    "presets":[
            [
                "env",
                {
                    "targets":{
                        "browsers":[
                            "edge",
                            "opera",
                            "firefox"
                        ]
                    }
                },
                "stage-3"
            ]
    ]
}